**Business Understanding**

This project seeks to provide some insights on the usage of electric car over time. The main research question and objective is to identify the most popular hour of the day that electric cars were picked up in Paris during April 2018. There are also other insights that include identifying the best hour for returning cars and also the most popular stations.

**Data Understanding**

The data provided for this data is located [here](http://bit.ly/autolib_dataset)

The data will be particularly helpful in finding out any hidden insights and also improve the understanding of the data

**Loading Libraries**

In [ ]:
import pandas as pd
import numpy as np

**Loading the Dataset**

In [ ]:
from google.colab import files
file_import = files.upload()

Saving Autolib_dataset (2).csv to Autolib_dataset (2) (2).csv

In [ ]:
import io

proj_df = pd.read_csv(io.BytesIO(file_import['Autolib_dataset (2).csv']))

**Previewing our Dataset**

In [ ]:
proj_df.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [ ]:
#Having a general overview of the dataset

proj_df.describe()

              Cars  Bluecar counter  ...         hour       minute
count  5000.000000      5000.000000  ...  5000.000000  5000.000000
mean      2.333600         2.333600  ...    11.509200    29.270000
std       2.035274         2.035274  ...     6.893549    17.231741
min       0.000000         0.000000  ...     0.000000     0.000000
25%       0.000000         0.000000  ...     6.000000    14.000000
50%       2.000000         2.000000  ...    11.000000    29.000000
75%       4.000000         4.000000  ...    18.000000    44.000000
max       7.000000         7.000000  ...    23.000000    59.000000

[8 rows x 12 columns]

**Data Cleaning**

During data cleaning, we will perform different tasks that will ensure that our dataset remains with the most relevant and reliable data.

In [ ]:
#Checking for duplicates

proj_df.duplicated().sum()

0

It is evident that the dataset does not have any duplicated values. However, looking at the columns of Cars and Bluecar counter, it is apparent that these columns represent the same thing. Therefore, we drop one of the columns to remain with one.

In [ ]:
#Dropping cars column to remain with Bluecar counter

#Dropping data we do not need

proj_df.drop(['Geo point', 'Displayed comment', 'Cars'], axis = 1, inplace= True)

Since we are interested in the time factor for our analysis, there are other factors we ought to pay attention towards. There are different columns for year, month, day, hour, minutes. Combining these columns will give us a better dataset.

In [ ]:
proj_df['Date'] = pd.to_datetime(proj_df[['year', 'month', 'day', 'hour', 'minute']])
proj_df.head(3)

                            Address  ...                Date
0               2 Avenue de Suffren  ... 2018-04-08 11:43:00
1         145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2  2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00

[3 rows x 23 columns]

Soon after achieving this, we need to remove the columns for year, month, day, minutes as they serve no purpose at all. We do not eliminate the hour column as the questions will require this factor

In [ ]:
proj_df = proj_df.drop(columns= ['year', 'month', 'day', 'minute'])
proj_df.head(3)

                            Address  Bluecar counter  ...  hour                Date
0               2 Avenue de Suffren                0  ...    11 2018-04-08 11:43:00
1         145 Rue Raymond Losserand                6  ...     7 2018-04-06 07:24:00
2  2 Avenue John Fitzgerald Kennedy                3  ...    20 2018-04-03 20:14:00

[3 rows x 19 columns]

At the time of this analysis, we will not consider the cars that have not been scheduled. They would not provide any value to the data as it is only prospective. Therefore, we drop the rows that do not have scheduled. Doing this means that we will remain the data where there is the actual data for our project

In [ ]:
#Creating a new dataframe with rows whereby they have an actual scheduled ride

new_proj_df = proj_df[proj_df.Status != 'scheduled']

In [ ]:
#Dropping the column with scheduled as it no longer serves us

new_proj_df.drop(columns= ['Scheduled at'])

                                 Address  ...                Date
0                    2 Avenue de Suffren  ... 2018-04-08 11:43:00
1              145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2       2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3                 51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4     6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00
...                                  ...  ...                 ...
4995                 8 avenue MÃ©nelotte  ... 2018-04-06 11:26:00
4996                   37 rue de Dantzig  ... 2018-04-04 16:56:00
4997                      142 rue du Bac  ... 2018-04-01 07:01:00
4998         2 avenue du Val de Fontenay  ... 2018-04-04 17:27:00
4999                 5 Rue Henry Brisson  ... 2018-04-08 10:02:00

[4953 rows x 18 columns]

**Data Analysis**

Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [ ]:
#We create a new df with Paris as the only city for an easier analysis

paris_data = new_proj_df[new_proj_df.City == 'Paris']
paris_data.head(5)

                              Address  ...                Date
0                 2 Avenue de Suffren  ... 2018-04-08 11:43:00
1           145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
3              51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00
5                8 Boulevard Voltaire  ... 2018-04-06 07:02:00

[5 rows x 19 columns]

In [ ]:
#After creating the new df, we then sort the data in accordance to the research question requirements

paris_data.sort_values(['Date', 'ID'], ascending= [True, True])
paris_data.head(10)

                               Address  ...                Date
0                  2 Avenue de Suffren  ... 2018-04-08 11:43:00
1            145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
3               51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4   6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00
5                 8 Boulevard Voltaire  ... 2018-04-06 07:02:00
6                       37 rue Leblanc  ... 2018-04-08 18:20:00
8                34 avenue Jean Moulin  ... 2018-04-02 22:58:00
9         41 boulevard de Rochechouart  ... 2018-04-04 15:02:00
10                      14 rue Censier  ... 2018-04-01 04:39:00
12  6 avenue de la Porte de Champerret  ... 2018-04-05 12:22:00

[10 rows x 19 columns]

To find out the number of the bluecars that remain at the counter, we then create a new column whereby we subtract the number of the cars from the previous hour

In [ ]:
paris_data['Bluecars remainder'] = paris_data['Bluecar counter'].diff()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Thus, from the above calculation, we then find out the number of bluecars per hour

In [ ]:
#Previewing the data

paris_data.head(10)

                               Address  ...  Bluecars remainder
0                  2 Avenue de Suffren  ...                 NaN
1            145 Rue Raymond Losserand  ...                 6.0
3               51 Rue EugÃ¨ne OudinÃ©  ...                -3.0
4   6 avenue de la Porte de Champerret  ...                 0.0
5                 8 Boulevard Voltaire  ...                -3.0
6                       37 rue Leblanc  ...                 0.0
8                34 avenue Jean Moulin  ...                 1.0
9         41 boulevard de Rochechouart  ...                 5.0
10                      14 rue Censier  ...                -6.0
12  6 avenue de la Porte de Champerret  ...                 5.0

[10 rows x 20 columns]

In [ ]:
#Most popular hour based on the day for picking up Bluecars in Paris

paris_data[paris_data['Bluecars remainder'] < 0].groupby('hour')['hour'].count().sort_values(ascending=False)

hour
21    68
7     56
20    55
16    53
4     52
13    50
3     49
6     49
14    48
17    47
18    47
8     47
19    46
2     45
5     45
15    44
1     42
9     42
23    41
22    40
11    38
10    37
12    36
0     34
Name: hour, dtype: int64

What is the most popular hour for returning cars?

In [ ]:
#This is an almost similar question to the previous one. In this case however, we are focusing on the returning cars
#In the previous question, we checked on the popular hour for picking up shared electric cars
#This meant that we focused on the remaining Bluecars at the station. If the difference is greater than 0, there is a bluecar returning. 
#If the difference is less than 0, there is no bluecar

paris_data[paris_data['Bluecars remainder'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
10    58
21    57
12    56
6     55
8     54
3     53
9     53
18    50
5     49
0     48
2     46
11    46
13    46
16    46
19    46
22    45
7     43
15    41
17    41
1     41
23    41
14    35
4     34
20    32
Name: hour, dtype: int64

We check the most popular station

In [ ]:
paris_data[(paris_data['Kind'] == 'STATION') & (paris_data['Rental status'] == 'operational')].groupby('Public name')['Public name'].count().sort_values(ascending= False)

Public name
Paris/Porte de Montrouge/8         13
Paris/Voltaire/182                 11
Paris/Courcelles/69                11
Paris/Mathis/35                    11
Paris/Philippe Auguste/126         11
                                   ..
Paris/PÃ©guy/2                      1
Paris/Faubourg-Saint-Martin/168     1
Paris/Bobillot/16                   1
Paris/FÃ©dÃ©ration/10               1
Paris/Murat/157                     1
Name: Public name, Length: 518, dtype: int64